html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

header {
  padding: 2rem 0;
  background-color: rgb(35, 2, 63);
}

header h1,
header input,
header i {
  margin-top: 0;
  margin-bottom: 0;
  /* display: inline; */
}

header h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

header i {
  text-align: center;
  border-radius: 12px;
  background-color: rgb(255, 102, 204);
}
