/* general styles */
html {
  font-size: 16px;
}

html, body {
  height: 100%;
}
/* header styling */
header {
  padding: 2rem 0;
  background-color: rgb(35, 2, 63);
}

header h1,
  input,
  i {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

header i {
  text-align: center;
  background-color: rgb(255, 102, 204);
  margin: 0 0.25rem;
}
header i:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 171);
}

header i,
  input {
  border-radius: 12px;
}
header input {
  color: rgb(74, 74, 74);
}
header input::placeholder {
  color: rgb(191, 191, 191);
}
/* result styling */
#result-header {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 0, 255);
}
/* helper style to identify issues */
/* #result-header span {
  background-color: lightseagreen;
  border-left: 1px solid black;
} */

.result-container-row {
  padding: 0.25rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.result-container-row:hover {
  background-color: rgb(239, 237, 242);
}
/* helper style to identify issues */
/* .result-container-row i, span {
  background-color: lightseagreen;
  border-left: 1px solid black;
} */

.result-container-row .fa {
  color: rgb(255, 0, 171);
}
.result-container-row .fa:hover {
  cursor: pointer;
  color: rgb(255, 102, 204);
}
