html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

header {
  padding: 2rem 0;
  background-color: rgb(35, 2, 63);
}

header h1,
  input,
  i {
  margin-top: 0;
  margin-bottom: 0;
}

header h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

header i {
  text-align: center;
  background-color: rgb(255, 102, 204);
}
header i:hover {
  cursor: pointer;
}

header i,
  input {
  border-radius: 12px;
}

header input::placeholder {
  color: rgb(191, 191, 191);
}
